<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709376690173-crnk5iofs54vi04br41r2rtf3u0ianrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709376690173-crnk5iofs54vi04br41r2rtf3u0ianrc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>709376690173-3opd0j4hg2nfbd53r92oabug48im5bh8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT07uS0VwfIsf4GxRdK9bxftiRz1a48Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>709376690173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laundryday</string>
	<key>PROJECT_ID</key>
	<string>laundryday-ef178</string>
	<key>STORAGE_BUCKET</key>
	<string>laundryday-ef178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709376690173:ios:466ee606939ee33573fb94</string>
</dict>
</plist>